@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

@import './assets/styles/notFound.scss';

// font-family: 'Inter', sans-serif;
// font-family: 'Lora', serif;

* {
  margin: 0;
  padding: 0;
}

// #root {
//   height: 100vh;
// }

:root {
  --brand-color: #0A4EB3;
  --white-background: #FFFFFF;
  --text-white: #FFFFFF;
  --text-black: #000000;
  --text-primary: #17222b;
  --border-color: #e5e5e5;
  --dark-grey: #767676;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: var(--white-background);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--white-background);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
  background-color: var(--brand-color);
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
  background: #fcfcfc;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: var(--white-background);
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: var(--white-background);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
    background-color: var(--brand-color);
  }
}

;

input {
  border: 1px solid var(--border-color);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-radius: 3px;

  &:focus {
    border: 1px solid var(--brand-color);
    background: var(--white-background);
    outline: none;
    border-radius: 3px;
  }
}


.container {
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    max-width: 720px;
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  border: 1px solid var(--brand-color);
  padding: 10px 20px;
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    background-color: var(--brand-color);
    color: var(--text-white);
  }
}


.btn {
  &.btn-primary {
    border: 1px solid var(--border-color) !important;
    color: var(--brand-color) !important;
    font-weight: 500;
    padding: 10px 20px !important;
    border-radius: 3px;

    &:hover {
      border: 1px solid var(--dark-grey) !important;
    }

  }
}

.btn-text-center{
  display: flex;
  justify-content: center;
  align-items: center;
}