.radio_wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    position: relative;

    span {
        text-transform: capitalize;
        padding-left: 10px;
        font-weight: 400;
        font-size: 17px;
    }
}
